body{
    margin: 0;
    background-color: #F4F4F4;
}
p{
    font-size: 25px;
}
h1{
    font-size: 60px;
    font-family: cursive,sans-serif;
    background-color: dimgray;
    color: white;
    text-align: center;
    margin: 0 auto;
    width: 1080px;
    border: 5px;
    border-color: white;
}
.container{
    margin: 0 auto;
    background-color: white;
    width: 1080px;
    font-family: cursive,sans-serif;
    box-shadow: 5px 5px 5px 5px ;
}

.Navigation{
    background-color: #4CAF50;
}
.Navigation a{
    text-align: center;
    font-size: 30px;
    color: wheat;
    text-decoration: none;
    position: relative;
    font-family: cursive,sans-serif;
}
.Navigation a:hover{
    color: white;
}

/*Styling Menu*/

.Menu{
    padding: 0 50px 0px 50px;
    position: relative;
    display: inline-block;
    font-family: cursive,sans-serif;
}
.Button{
    background-color: #4CAF50;
    color: wheat;
    padding: 5px;
    font-size: 30px;
    border: none;
    font-family: cursive,sans-serif;
}
.Menu_content{
    display:none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 200px; /*For DropDown Box Size(Width)*/
    box-shadow: 0px 8px 16px 0px;
    z-index: 1;
    font-size: 10px;
    font-family: cursive,sans-serif;
}
.Menu_content a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-family: cursive,sans-serif;
}
.Menu .Menu_content a{
    font-size: 20px; /*Font size inside the dropdown Menu.*/
}



/*Hovers*/


.Menu_content a:hover{
    background-color: #ddd;
    
}
.Menu:hover .Menu_content{
    display: block;
}
.Menu:hover .Button{
    /*background-color: #3e8e41;*/
    color: white;
}

/*Footer*/

footer{
    background-color: gray;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: cursive,sans-serif;
    padding: 0px 25px 0px 25px;
}




/*Contact Forms*/

.contact_form{
    padding: 0px 50px 0px 50px;
    text-align: left;
    font-size: 20px;
    box-sizing: 30px;
    font-family: cursive,sans-serif;
}
.input{
    font-size: 20px;
    font-family: cursive,sans-serif;
}
/*Submit*/

.Submit{
    font-size: 20px;
    width:90px;
}
.Reset{
    font-size: 20px;
    widows: 120px;
}
.Main_article{
    padding: 0px 50px 0px 50px;
}

#Download a{
    text-decoration: none;
    font-size: 20px;
    
}